[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
scikit-learn = "*"
pandas = "*"
xgboost = "*"
hyperopt = "*"
matplotlib = "*"
numpy = "*"
fastapi = "*"
uvicorn = "*"
shap = "*"
psycopg2-binary = "*"
pymongo = "*"
prefect = ">=2.0b6"
boto3 = "*"
s3fs = "*"
kaggle = "*"
requests = "*"